[submodule "deps/stdBLAS"]
	path = deps/stdBLAS
	url = https://github.com/kokkos/stdBLAS
[submodule "deps/SDL"]
	path = deps/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "deps/ImGUI"]
	path = deps/ImGUI
	url = https://github.com/ocornut/imgui
[submodule "deps/doctest"]
	path = deps/doctest
	url = https://github.com/doctest/doctest.git
[submodule "deps/RapidJSON"]
	path = deps/RapidJSON
	url = https://github.com/Tencent/rapidjson
